#items-row {
	/*padding-left: 30px;*/
	/*margin-left: 30px;*/
	/*margin-right: 30px;*/
}

.item-cell {
	height: 1000px;
	background-color: grey;
	margin: 10px;
}
nav.navbar-default {
	background-color: black;
}
